.t2-portfolio-container {
    display: flex;
    flex-direction: column;
    gap: 1.5rem;
}
.t2-portfolio-card {
    display: flex;
    gap: 1rem;
    background: #162447;
    padding: 1rem;
    border-radius: 8px;
}
.t2-portfolio-card img {
    width: 150px;
    height: 100px;
    object-fit: cover;
    border-radius: 5px;
}